# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Ambientes virtuais ---
.venv/
venv/
env/
ENV/

# --- Configs sensíveis / chaves de API ---
.env
.env.*
*.key

# --- PyQt / build ---
build/
dist/
*.egg-info/
*.spec

# --- Editor / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
*.log
